# 01_summary_statistics.ipynb

In [1]:
import matplotlib.pyplot as plt
plt.rcParams["figure.dpi"] = 300
plt.rcParams['savefig.dpi'] = 300
import pandas as pd

# Store paths.
INPUT_DATA_UNRESTRICTED = "/Users/arjunshanmugam/Documents/GitHub/seniorthesis/data/03_cleaned/unrestricted.csv"
INPUT_DATA_RESTRICTED = "/Users/arjunshanmugam/Documents/GitHub/seniorthesis/data/03_cleaned/restricted.csv"

# Read unrestricted dataset into memory.
df = pd.read_csv(INPUT_DATA_UNRESTRICTED)

/var/folders/lm/j45l41m16cs8sd5r9sh4gj6w0000gn/T/ipykernel_81210/3518057400.py:11: DtypeWarning: Columns (133,149,151) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(INPUT_DATA_UNRESTRICTED)

In [5]:
# Get month of latest docket date for each row and use to grab Zestimates at different times prior to treatment.
df.loc[:, 'latest_docket_date'] = pd.to_datetime(df['latest_docket_date'])
for i in range(-5, 3):
    offset_docket_date = df['latest_docket_date'] + pd.tseries.offsets.DateOffset(years=i)
    print(pd.concat([offset_docket_date, df['latest_docket_date']], axis=1))
    
#     df.loc[:, f'zestimate_{i}_years_relative_to_treatment'] =

case_number
2012-12
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
2013-07
2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
2014-09
2014-10
2014-11
2014-12
2015-01
2015-02
2015-03
2015-04
2015-05
2015-06
2015-07
2015-08
2015-09
2015-10
2015-11
2015-12
2016-01
2016-02
2016-03
2016-04
2016-05
2016-06
2016-07
2016-08
2016-09
2016-10
2016-11
2016-12
2017-01
2017-02
2017-03
2017-04
2017-05
2017-06
2017-07
2017-08
2017-09
2017-10
2017-11
2017-12
2018-01
2018-02
2018-03
2018-04
2018-05
2018-06
2018-07
2018-08
2018-09
2018-10
2018-11
2018-12
2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01
2020-02
2020-03
2020-04
2020-05
2020-06
2020-07
2020-08
2020-09
2020-10
2020-11
2020-12
2021-01
2021-02
2021-03
2021-04
2021-05
2021-06
2021-07
2021-08
2021-09
2021-10
2021-11
2021-12
2022-01
2022-02
2022-03
2022-04
2022-05
2022-06
2022-07
2022-08
2022-09
2022-10
2022-11
2022-12
court_division
court_location
court_person
court_person_type
defendant
defendant_atty
defendant_atty_address_apt
defendant_atty_address_city
defendant_atty_address_name
defendant_atty_address_state
defendant_atty_address_street
defendant_atty_address_zip
disposition
disposition_date
disposition_found
docket_history
duration
execution
file_date
hasAttyD
hasAttyP
iehap
inhad
initiating_action
isEntityD
isEntityP
judgment
judgment_for
judgment_for_pdu
judgment_total
latest_docket_date
plaintiff
plaintiff_atty
plaintiff_atty_address_apt
plaintiff_atty_address_city
plaintiff_atty_address_name
plaintiff_atty_address_state
plaintiff_atty_address_street
plaintiff_atty_address_zip
property_address_city
property_address_full
property_address_state
property_address_street
property_address_zip
reason
latitude
longitude
LOC_ID
file_month
file_year
latest_docket_year
latest_docket_month
next_fiscal_year
FY
BLDG_VAL
LAND_VAL
OTHER_VAL
TOTAL_VAL
UNITS
num_records_combined

In [6]:

df.describe().T

,count,mean,std,min,25%,50%,75%,max
2012-12,8735.0,2.336592e+05,5.127783e+05,14194.0,128349.00,179595.0,264085.00,14000000.0
2013-01,8748.0,2.176148e+05,1.597702e+05,16151.0,128531.50,180725.0,263438.00,2694775.0
2013-02,8762.0,2.202944e+05,1.621462e+05,16165.0,129411.25,181412.0,265900.75,2698868.0
2013-03,8749.0,2.221859e+05,1.647084e+05,10000.0,129678.00,184498.0,269688.00,2741978.0
2013-04,8749.0,2.236744e+05,1.638052e+05,16191.0,129421.00,184799.0,273581.00,2794399.0
...,...,...,...,...,...,...,...,...
LAND_VAL,14493.0,2.482291e+06,6.470567e+06,0.0,70200.00,190000.0,1834400.00,83430000.0
OTHER_VAL,14493.0,1.138020e+05,5.365329e+05,0.0,0.00,2600.0,43800.00,12561500.0
TOTAL_VAL,14493.0,1.201856e+07,2.628447e+07,0.0,354100.00,1067000.0,10382200.00,353026800.0
UNITS,14493.0,4.224805e+01,1.128639e+02,0.0,0.00,1.0,20.00,6094.0
num_records_combined,14493.0,3.711585e+00,1.907185e+01,1.0,1.00,1.0,1.00,450.0